.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p {
  color: white;
}
body {
  background-image:url("https://www.hdwallpapers.in/walls/kylo_ren_star_wars-wide.jpg");
  background-size: contain;
  background-repeat: repeat;

}

headings {
  font-size: 30px;
}


.logo,
.ivorPic {
  max-width: 300px;
  max-height: 300px;
}

.champFlex {
  flex-direction: row;
}

.champions {
  max-width: 480px;
  height: 320px;
}

.champList {
  max-width: 50%;
  height: auto;
}

.minimap {
  max-width: 33%;
  max-height: auto;
}

.OP {
  color: rgb(255, 255, 1) 
}